body {
  font-family: Arial;
  background: #f5f5f5;
}

.container {
  width: 80%;
  margin: auto;
}

h1 {
  text-align: center;
}

.tabs button {
  margin: 5px;
  padding: 8px;
  background: #fc8803;
  color: rgb(12, 11, 11);
  border: none;
  border-radius: 5px;
}

.form input {
  margin: 5px;
  padding: 5px;
}

button {
  background: #0e0158;
  color: rgb(255, 255, 255);
  border: none;
  padding: 6px;
}

table {
  width: 100%;
  margin-top: 10px;
  border-collapse: collapse;
}

th {
  background: #2d6cdf;
  color: rgb(255, 251, 4);
}

td, th {
  padding: 8px;
  border: 1px solid #020500;
}